{% extends 'base.html' %}

{% block title %}
 Login
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="text-primary">Customer Login Here</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                  {{form.as_p}}
                   <input type="submit" value="Login Here" class="btn btn-primary">
                   {% if error %}
                   <li style="color: red;">{{error}}</li>
                  {% endif %}
            </form>
            <p>Don't have an account?<a href="{% url 'customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}" class="text-success">Registration</a></p>
        </div>
    </div>
</div>
                        
{% endblock content %}
